<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="../assets/iconfonts/flaticon.css">
 <!-- Important Owl stylesheet -->
<link rel="stylesheet" href="../assets/css/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="../assets/css/owl.theme.css">


<!-- Include js plugin -->
<script src="../assets/js/owl.carousel.js"></script>
  <script src="../assets/js/homepage.js"></script>


</head>

<body id="home">


<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item imageContainer1"><h1>Text for the about </h1></div>
  <div class="item imageContainer2"><h1>Text for the about </h1></div>
  <div class="item imageContainer3"><h1>Text for the about </h1></div>
  <div class="item imageContainer4"><h1>Text for the about </h1></div>

</div>





  <div class="ui inverted masthead centered raised segment" style="margin-top:20px;">
    <div class="imagebackground" style="background-color:#2185D0">
      <div class="ui page grid">
        <div class="column">
          <div class="ui hidden transition information">
            <h1 class="ui inverted centered header">
              Track your climbs and Socialize.
            </h1>
            <p class="ui inverted centered lead">A new kind of app thats lets you track your progress
              <br/>while making new friends at your local climbing gym.</p>


              <img class="ui centered image" src="../assets/images/LogoTopOut2.png" styles="height:100%; width:100%" />

            <!-- <div class="ui one column stackable center aligned page grid">  <a href="/#/signup" class="large basic inverted animated fade ui button">

           <div class="visible content">Try it Now</div>
              <div class="hidden content">Register Now</div>
              </a>
              </div> -->


          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- blue section of page ends  -->

  <div class="ui vertical feature raised blue segment features-session">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column column-feature" style="margin-top:15px">
            <div class="ui icon header">
              <i class="flaticon-connecting icon"></i> Progress
            </div>
            <p>Choose how to display your progress from our variety of graphs</p>
          </div>
          <div class="column column-feature" style="margin-top:15px">
            <div class="ui icon header">
              <i class="flaticon-calendar icon"></i> TopOut Tracker
            </div>
            <p>Log your climbs and do our weekly challenges to rack points,win prizes and gain reputation.</p>
            <p>
              <a class="ui green right labeled icon button" href="#/login">
                Lets Go
                <i class="right flaticon-move icon"></i>
              </a>
            </p>
          </div>
          <div class="column column-feature" style="margin-top:15px">
            <div class="ui icon header">
              <i class="flaticon-speech icon"></i> Community
            </div>
            <p>Find climbing partners and friends. See what the community in your local gym is all about</p>
          </div>
        </div>



      </div>
    </div>

    <div class="ui centered page grid">
      <h3 class="subscribe-header">Tell us what you think</h3>
      <p class="ui centered lead large">We love user input and are open to any suggestions or complaints.</p>
      <div class="ui form eight wide subscribe column">


        <div class="field">
          <div class="ui fluid action input">
            <input placeholder="Susbcribe..." type="text">
            <a href="mailto:andyjinkim@gmail.com"><button id="email" class="ui button">Send</button></a>
          </div>
        </div>

      </div>

    </div>

  </div>


  <div class="ui vertical raised blue segment recent-works" style="margin-top:25px;">
    <div class="ui very relaxed stackable centered page grid">
      <div class="row">
        <div class="eight wide centered column">
          <h1 class="center aligned ui inverted header" style="color:black;margin-top:15px">
            User Stories
          </h1>
          <div class="ui horizontal divider"><i class="white flaticon-camera icon"></i>
          </div>
          <p class="ui-centered-lead">Checkout some of our most recent users!</p>
        </div>
      </div>
      <div class="fourteen wide column">
        <div class="ui three column aligned stackable divided grid">
          <div class="column">
            <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
              <div class="image">
                <img src="../assets/images/SamHager.jpg" />
              </div>
              <div class="content">
                <div class="header">Sam: Samurai Lvl</div>
                <div class="description">
                  "I just moved to LA and needed a new physical activity to do. I've always wanted to climb but never had friends to do it with. I'm hoping this app helps!"
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
              <div class="image">
                <img src="/assets/images/JuanRuelas.jpg" />
              </div>
              <div class="content">
                <div class="header">Juan: Jedi Lvl</div>
                <div class="description">
                  "Bickin' back bein' bool. I love hacking on port 1738. Fuck climbing, get bitches."
                </div>
              </div>
            </div>
          </div>


          <div class="column">
            <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
              <div class="image">
                <img src="/assets/images/Eunic.jpg" />
              </div>
              <div class="content">
                <div class="header">Eunice: Zen Lvl</div>
                <div class="description">
                  "I don't know why I'm here, I like skateboarding, not climbing."
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical raised blue segment social-session">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="eight wide column">
          <h1 class="ui header" style="margin-top:15px">
            Find Us on Social Media
          </h1>
          <div class="ui horizontal divider"><i class="flaticon-settings icon"></i>
          </div>

          <br/>
        </div>
      </div>
      <div class="four column logo row">
        <div class="column">
          <a href="">
            <div class="ui shape">
              <div class="sides">
                <div class="active side">
                  <i class="huge flaticon-pinterest icon"></i>
                </div>
                <div class="side">
                  <i class="huge flaticon-more icon"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="column">
          <a href="">
            <div class="ui shape">
              <div class="sides">
                <div class="active side">
                  <i class="huge flaticon-twitter icon"></i>
                </div>
                <div class="side">
                  <i class="huge flaticon-more icon"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="column">
          <a href="">
            <div class="ui shape">
              <div class="sides">
                <div class="active side">
                  <i class="huge flaticon-facebook icon"></i>
                </div>
                <div class="side">
                  <i class="huge flaticon-more icon"></i>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="column">
          <a href="">
            <div class="ui shape">
              <div class="sides">
                <div class="active side">
                  <i class="huge flaticon-google icon"></i>
                </div>
                <div class="side">
                  <i class="huge flaticon-more icon"></i>
                </div>
                </div>
              </div>
            </a>
        </div>

      </div>
    </div>
  </div>

<script>
 $(document).ready(function() {

  $("#owl-demo").owlCarousel({

      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoWidth:true,
      margin:10

  });

});
</script>

</body>
